* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Raleway', sans-serif;
  background: rgba(25,210,80, 1);
  /* background: rgba(250, 146, 113, 1); */
  line-height: 1.6rem;
  height: 100vh;
  color: #fff;
}

nav {
  background: rgba(255, 223, 213, 0.25);
}

.nav-container {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
}

.nav-container .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .nav-logo img {
  width: 50px;
  margin: 0 1rem;
}

/* Settings */
.nav-settings {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9rem;
  width: 60%;
}

.nav-settings .timer-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 95px;
  margin-left: 0.7rem;
}

.nav-settings .timer-settings.show-hide {
  display: none;
}

.nav-settings input{
 width: 40%;
 padding: 0.1rem;
}

.nav-settings input:focus {
  outline: none;
}

.show-settings-button {
  font-size: 1.2rem;
  font-weight: 500;
}

.show-settings-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.show-settings-button i {
  padding-right: 0.3rem;
}



/* PROGRESS BAR */
.progress-container {
  margin: 20px auto;
  max-width: 895px;
  height: 20px;
  background: rgba(255, 223, 213, 0.25);
  border-radius: 3px;
}

.progress-container .progress-bar {
  height: 100%;
  width: 0%;
  background: #fff;
  border-radius: 3px;
}


/* MAIN SECTION */
.main-container {
  margin: 1rem auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.main-container .sub-container {
  background: rgba(255, 223, 213, 0.25);
  padding: 1rem;
  border-radius: 5px;
  max-width: 450px;
  height: 400px;
}

.main-container .timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-container .timer-container .timer-selection {
  display: flex;
  align-items: center;
}

.main-container .timer-container .timer-selection p {
  margin: 0.5rem 0.2rem;
  /* background:rgba(43, 38, 37, 0.25); */
  border-radius: 3px;
  padding: 0.3rem 0.7rem;
  color: white;
  font-weight: 600;
}

.main-container .timer-container .timer-selection p:hover {
  cursor: pointer;
}

.main-container .timer-container .timer-selection .selected {
  background:rgba(43, 38, 37, 0.25);
}

.main-container .timer-container .timer {
  font-family: monospace;
  font-size: 8rem;
  font-weight: 600;
  width: 200px;
  display: flex;
  justify-content: center;
}

.main-container .timer-container .timer-buttons {
  display: flex;
  align-items: center;
  color: rgba(25,210,80, 1);
}

.main-container .timer-container .timer-buttons div {
  height: 40px;
  width: 100px;
  margin: 2rem 0.5rem 0.5rem;
  background: #fff;
  /* color: rgba(250, 146, 113, 1); */
  border-radius: 3px;
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 500;
}

.main-container .timer-container .timer-buttons div:hover {
 cursor: pointer;
 background: rgba(43, 38, 37, 0.25);
 color: #fff;
 transition: 0.2s;
}

.main-container.pointer-events-toggle {
  pointer-events: none;
}



/* Grapefruit section */
.grapefruit-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0.3rem;
  overflow: auto;
}

.grapefruit-container img {
  width: 30px;
  height: 30px;
}


